<img *ngIf="todo.imageUrl" class="todo-image" [src]="todo.imageUrl" alt="">
<tui-marker-icon class="top-right" src="tuiIconTrash" size="xs" tuiColor="error"
                 (click)="deleteTodo()"></tui-marker-icon>
<tui-marker-icon class="top-left" src="tuiIconEdit" size="xs" tuiColor="secondary"
                 (click)="editTodo()"></tui-marker-icon>

<div [style]="{paddingBottom: tags.clientHeight + 'px'}">
  <h3 class="no-margin-top text-center">{{todo.heading}}</h3>
  <tui-scrollbar class="todo-text padding-bottom">
    <tip-editor-preview [sanitizeHtml]="false" [extensions]="extensions" [content]="todo.content"></tip-editor-preview>
  </tui-scrollbar>
</div>

<div class="flex v-center tags" #tags>
  <!-- TODO: (Taiga UI migration) Use property [separator] to forbid spaces. See example: https://taiga-ui.dev/components/input-tag#no-spaces-inside-tags -->
<tui-input-tag
    class="flex-grow"
    [formControl]="control"
    tuiTextfieldSize="s"
    [allowSpaces]="true"
    [tuiTextfieldLabelOutside]="true"
    (searchChange)="search = $event"
  >
    Tags:
    <tui-data-list-wrapper
      *tuiDataList
      [items]="filteredTags$ | async"
    ></tui-data-list-wrapper>
  </tui-input-tag>
  <div class="flex-break"></div>
  <small class="padding-left">Created: {{todo.date * 1000 | date}}</small>
</div>
