<img *ngIf="todo.image_url" [src]="todo.image_url" alt="" class="todo-image">
<tui-marker-icon (click)="deleteTodo()" class="top-right" size="xs" src="tuiIconTrash"
                 style="background-color: var(--tui-error-bg-hover)"></tui-marker-icon>
<tui-marker-icon (click)="editTodo()" class="top-left" size="xs" src="tuiIconEdit"
                 style="background-color: var(--tui-info-bg)"></tui-marker-icon>

<div [style]="{paddingBottom: tags.clientHeight + 'px'}">
  <h3 class="no-margin-top text-center">{{todo.heading}}</h3>
  <tui-scrollbar class="todo-text padding-bottom">
    <tip-editor-preview [content]="todo.content" [extensions]="extensions" [sanitizeHtml]="false"></tip-editor-preview>
  </tui-scrollbar>
</div>

<div #tags class="flex v-center tags">
  <tui-input-tag
    (searchChange)="search = $event"
    [formControl]="control"
    [tuiTextfieldLabelOutside]="true"
    class="flex-grow"
    tuiTextfieldSize="s"
  >
    Tags:
    <tui-data-list-wrapper
      *tuiDataList
      [items]="filteredTags$ | async"
    ></tui-data-list-wrapper>
  </tui-input-tag>
  <div class="flex-break"></div>
  <small class="padding-left">Created: {{todo.created * 1000 | date}}</small>
</div>
